<div class="container-fluid">
    <div class="card shadow-sm mt-5">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h5 class="mb-0 fw-bold">RESERVAS</h5>
            <button class="btn btn-success btn-sm fw-bold" (click)="toggleForm()">
                <i class="fa-solid fa-plus"></i>Nueva reserva
            </button>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped table-bordered mb-0">
                <thead class="table-dark">
                    <tr style="text-align: center;">
                        <th scope="col">#</th>
                        <th scope="col">Huésped</th>
                        <th scope="col">No. Habitación</th>
                        <th scope="col">Fecha entrada</th>
                        <th scope="col">Fecha salida</th>
                        <th scope="col">Estado reserva</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center;" *ngFor="let reserva of listaReservas; let i = index">
                        <td>{{ reserva.id }}</td>
                        <td>{{ reserva.huesped.nombre }}</td>
                        <td>{{ reserva.habitacion.numero }}</td>
                        <td>{{ reserva.fechaEntrada }}</td>
                        <td>{{ reserva.fechaSalida }}</td>
                        <td>{{ reserva.estadoReserva }}</td>
                        <td>
                            <div class="d-flex gap-2 justify-content-center">
                                <button *ngIf="reserva.estadoReserva !== 'Reserva cancelada' && reserva.estadoReserva !== 'Check-out realizado'"
                                    class="btn btn-outline-primary btn-sm shadow-sm" (click)="editReserva(reserva)"
                                    title="Editar información">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>

                                <button *ngIf="showActions" class="btn btn-outline-danger btn-sm shadow-sm"
                                    (click)="deleteReserva(reserva.id)" title="Eliminar reserva">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" #reservaModalRef tabindex="-1" aria-labelledby="reservaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="reservaModalLabel">{{ modalText }}</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="reservaForm" (ngSubmit)="onSubmit()">
                        <div class="row" *ngIf="!isEditMode">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">ID huésped</label>
                                <input type="number" min="1" class="form-control" formControlName="idHuesped"
                                    placeholder="ID Huésped">
                                <div *ngIf="reservaForm.get('idHuesped')?.invalid && reservaForm.get('idHuesped')?.touched"
                                    class="text-danger small mt-1">
                                    <span *ngIf="reservaForm.get('idHuesped')?.errors?.['required']">
                                        El ID huesped es requerido
                                    </span>
                                    <span *ngIf="reservaForm.get('idHuesped')?.errors?.['pattern']">
                                        El ID huesped debe ser númerico mayor a 0
                                    </span>
                                    <span *ngIf="reservaForm.get('idHuesped')?.errors?.['minlength']">
                                        El ID huesped debe ser mayor a 0
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">ID habitación</label>
                                <input type="number" min="1" class="form-control" formControlName="idHabitacion"
                                    placeholder="ID Habitación">
                                <div *ngIf="reservaForm.get('idHabitacion')?.invalid && reservaForm.get('idHabitacion')?.touched"
                                    class="text-danger small mt-1">
                                    <span *ngIf="reservaForm.get('idHabitacion')?.errors?.['required']">
                                        El ID habitación es requerido
                                    </span>
                                    <span *ngIf="reservaForm.get('idHabitacion')?.errors?.['pattern']">
                                        El ID habitación debe ser númerico mayor a 0
                                    </span>
                                    <span *ngIf="reservaForm.get('idHabitacion')?.errors?.['minlength']">
                                        El ID habitación debe ser mayor a 0
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="!opcionOut">
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Fecha entrada</label>
                                <input type="datetime-local" class="form-control" formControlName="fechaEntrada"
                                    [class.is-invalid]="reservaForm.get('fechaEntrada')?.touched && reservaForm.get('fechaEntrada')?.invalid">

                                <div class="invalid-feedback">
                                    <span *ngIf="reservaForm.get('fechaEntrada')?.errors?.['required']">
                                        La fecha de entrad es requerida.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Fecha salida</label>
                                <input type="datetime-local" class="form-control" formControlName="fechaSalida"
                                    [class.is-invalid]="reservaForm.get('fechaSalida')?.touched && (reservaForm.get('fechaSalida')?.invalid || reservaForm.errors?.['invalidRange'])">
                                <div class="invalid-feedback">
                                    <span *ngIf="reservaForm.get('fechaSalida')?.errors?.['required']">
                                        La fecha de reservación es requerida.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="isEditMode">
                            <div class="col-md-12 mb-3">
                                <label for="idEstadoReserva" class="form-label">Estado de la Reserva</label>
                                <select id="idEstadoReserva" class="form-select" formControlName="idEstadoReserva">
                                    <option *ngIf="opcionIn" value="1">Confirmar reserva</option>
                                    <option *ngIf="opcionIn" value="2">Check-in</option>
                                    <option *ngIf="opcionOut" value="3">Check-out</option>
                                    <option *ngIf="showActions && opcionCancel" value="4">Cancelar reserva</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-success" [disabled]="reservaForm.invalid">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>